@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:  #0f172a;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353535;
  border-radius: 0.25rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* remove arrows from number inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*Animations*/
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
  .mobile-menu-enter-active {
    animation: slideInFromRight 0.5s;
  }
  .mobile-menu-leave-active {
    animation: slideOutToRight 0.5s;
  }
